{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main groups-page">
    <!-- Page Header -->
    <div class="row">
        <h1 class="page-header">
            All Groups
        </h1>
    </div>

    <!-- Flash Messages -->
    <div id="flashes" class="row"></div>

    <!-- Action Bar -->
    <div class="groups-action-bar">
        <div class="groups-action-left">
            <button type="button" class="btn btn-primary" onclick="edit(-1)">
                <i class="fa fa-plus"></i> New Group
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i> Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="bulkDeleteSelected()"><i class="fa fa-trash-o text-danger"></i> Delete
                            Selected</a></li>
                </ul>
            </div>
        </div>
        <div class="groups-action-right">
            <div class="btn-group" data-toggle="buttons" id="profileTypeFilter">
                <label class="btn btn-primary active" onclick="switchProfileType('')">
                    <input type="radio" name="options" id="type_all" autocomplete="off" checked> All
                </label>
                <label class="btn btn-primary" onclick="switchProfileType('email')">
                    <input type="radio" name="options" id="type_email_qr" autocomplete="off"> Email
                </label>
                <label class="btn btn-primary" onclick="switchProfileType('sms')">
                    <input type="radio" name="options" id="type_sms" autocomplete="off"> SMS
                </label>
            </div>
        </div>
    </div>

    <!-- Loading State -->
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>

    <!-- Empty State -->
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No groups created yet. Let's create one!
        </div>
    </div>

    <!-- Groups Table -->
    <div class="row">
        <div class="table-container">
            <table id="groupTable" class="table" style="display:none;">
                <thead>
                    <tr>
                        <th class="no-sort" style="width: 20px;">
                            <input type="checkbox" id="selectAllGroups" onclick="toggleSelectAll()">
                        </th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Created By</th>
                        <th style="width: 150px;">No. of Members</th>
                        <th style="width: 265px;">Modified Date</th>
                        <th style="width: 150px;" class="col-md-1 no-sort">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->

{{end}} {{define "scripts"}}
<script src="/js/dist/app/groups.min.js"></script>
{{end}}