{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        Landing Pages
    </h1>
    <div id="flashes" class="row"></div>
    <div class="row">
        <a href="/landing_page" class="btn btn-primary"><i class="fa fa-plus"></i> New Page</a>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No pages created yet. Let's create one!
        </div>
    </div>
    <div class="row">
        <table id="pagesTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created By</th>
                    <th>Last Modified Date</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{{end}}
{{define "scripts"}}
<script src="/js/src/vendor/ckeditor/ckeditor.js"></script>
<script src="/js/src/vendor/ckeditor/adapters/jquery.js"></script>
<script src="/js/dist/app/autocomplete.min.js"></script>
<script src="/js/dist/app/landing_pages.min.js"></script>
{{end}}