{{define "nav"}}
<div class="sidebar">
    <div class="nav-sidebar">
        {{ if .IsImpersonating }}
        <div class="nav-item-wrapper">
            <a href="/stop_impersonating" class="nav-section-header impersonation">
                <i class="fa fa-times-circle" style="margin-right: 8px;"></i> Stop Impersonating
            </a>
        </div>
        {{ end }}

        <!-- Dashboard Header -->
        <div class="nav-item-wrapper {{ if eq .Title " Dashboard" }}active{{ end }}">
            <a href="/" class="nav-section-header">
                Dashboard
            </a>
        </div>

        <!-- CAMPAIGN SECTION -->
        <div class="nav-section-label">
            CAMPAIGN
        </div>
        <div class="nav-group-container" style="display: block;">
            <div class="nav-item-wrapper {{ if or (eq .Title " Email Campaigns") (eq .Title "Email Campaigns" )
                }}active{{ end }}">
                <a href="/campaigns" class="nav-item-link">Campaigns</a>
            </div>
            {{if .ModifySystem}}
            <div class="nav-item-wrapper {{ if or (eq .Title " Users & Groups") (eq .Title "Users & Groups" ) }}active{{
                end }}">
                <a href="/groups" class="nav-item-link">Groups
                    <span class="nav-admin-badge">Admin</span>
                </a>
            </div>
            {{end}}
        </div>

        {{if .ModifySystem}}
        <!-- TEMPLATES SECTION -->
        <div class="nav-section-label">
            TEMPLATES
        </div>
        <div class="nav-group-container" style="display: block;">
            <div class="nav-item-wrapper {{ if or (eq .Title " Email Templates") (eq .Title "Redirector Templates" ) (eq
                .Title "Landing Pages" ) }}active{{ end }}">
                <a href="/templates" class="nav-item-link">All Templates
                    <span class="nav-admin-badge">Admin</span>
                </a>
            </div>
        </div>

        <!-- CONFIGURATION SECTION -->
        <div class="nav-section-label">
            CONFIGURATION
        </div>
        <div class="nav-group-container" style="display: block;">
            <div class="nav-item-wrapper {{ if or (eq .Title " Email Sending Profiles") (eq
                .Title "Email Sending Profiles" ) (eq .Title " SMS Sending Profiles" ) (eq .Title "SMS Sending Profiles"
                ) }}active{{ end }}">
                <a href="/sending_profiles" class="nav-item-link">Sending Profiles
                    <span class="nav-admin-badge">Admin</span>
                </a>
            </div>
            <div class="nav-item-wrapper {{ if or (eq .Title " Account Settings") (eq .Title "Account Settings" )
                }}active{{ end }}">
                <a href="/settings" class="nav-item-link">Account Settings
                    <span class="nav-admin-badge">Admin</span>
                </a>
            </div>
            <div class="nav-item-wrapper {{ if or (eq .Title " DNS Configuration") (eq .Title "DNS Configuration" )
                }}active{{ end }}">
                <a href="/dns_config" class="nav-item-link">DNS Configuration
                    <span class="nav-admin-badge">Admin</span>
                </a>
            </div>
            <div class="nav-item-wrapper {{ if or (eq .Title " SimulationServer Integration") (eq
                .Title "SimulationServer Integration" ) }}active{{ end }}">
                <a href="/simulationserver" class="nav-item-link">Simulation Server
                    <span class="nav-admin-badge">Admin</span>
                </a>
            </div>
        </div>
        {{end}}

        <!-- ADMIN SECTION -->
        {{if .ModifySystem}}
        <div class="nav-section-label">
            ADMIN
        </div>
        <div class="nav-group-container" style="display: block;">
            <div class="nav-item-wrapper {{ if or (eq .Title " User Management") (eq .Title "User Management" )
                }}active{{ end }}">
                <a href="/users" class="nav-item-link">
                    User Management
                    <span class="nav-admin-badge">Admin</span>
                </a>
            </div>
            <div class="nav-item-wrapper {{ if or (eq .Title " Webhooks") (eq .Title "Webhooks" ) }}active{{ end }}">
                <a href="/webhooks" class="nav-item-link">
                    Webhooks
                    <span class="nav-admin-badge">Admin</span>
                </a>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}